rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isUs() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          "YOUR_EMAIL@example.com",
          "MUSKAN_EMAIL@example.com"
        ];
    }

    match /memories/{userId}/{fileName} {
      allow read: if isUs();
      allow write: if isUs()
        && request.auth.uid == userId
        && request.resource.size < 8 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
